* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .up {
    background-color: #fff;
    height: 55px;
    padding: 0 10px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .logo {
    margin-left: 15px;
    cursor: pointer;
  }
  
  .nav {
    margin-left: 30px;
    display: flex;
    height: 100%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 8px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #070707;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .none {
    display: block;
  }
  
  .hover-dd:hover {
    background-color: #04aa6d;
    color: #fff;
  }
  
  .hover-dd-b {
    background-color: #282a35;
    color: #fff;
  }
  
  .hover-t1:hover {
    background-color: #282a35;
    color: #fff;
  }
  
  .hover-t1:hover .dropdown-content1 {
    display: block;
  }
  
  .hover-t1:hover .dropdown-content2 {
    display: block;
  }
  
  .hover-t1:hover .dropdown-content3 {
    display: block;
  }
  
  .hover-t1:hover .dropdown-content4 {
    display: block;
  }
  
  .hover-dd-b:hover {
    background-color: #282a35;
  }
  
  .down {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #282a35;
    height: 35px;
  }
  
  .click {
    background-color: #282a35;
  }
  
  .left,
  .right {
    display: flex;
    font-weight: 500;
    font-size: 14px;
  }
  
  .left,
  .right,
  .down-hover {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .down-hover {
    padding: 0 15px;
    color: #f5f5f5;
    height: 100%;
    cursor: pointer;
  }
  
  .down-hover:hover {
    background-color: #000;
  }
